<div class="home-page">

    <div class="card">
        <a href="/about/">
            <h1>Saiba um pouco sobre mim.</h1>
        </a>
        <p>
            Apaixonado por tecnologia, iniciei meus estudos FatecTq cursando Análise e Desenvolvimento de Sistemas, onde comecei a aprender
            um pouco mais sobre
            <a href="/about/">(...)</a>
        </p>
    </div>

    <div class="card">
        <a href="/skills/">
            <h1>Minhas habilidades</h1>
        </a>
        <p>
            Meu foco na área do desenvolvimento é web, criação de web pages, web sites dinamicos, ou até mesmo aplicativos híbridos,
            para funcionar em uma webview em qualquer dispositivo
            <a href="/skills/">(...)</a>
        </p>
    </div>

    <div class="card">
        <a href="/projects/">
            <h1>Um pouco de meu trabalho.</h1>
        </a>
        <p>
            Há quase um ano na área do desenvolvimento web, tenho alguns projetos como o Spades, que é uma ideia de uma rede social inspirada
            em
            <a href="/projects/">(...)</a>
        </p>
    </div>

</div>