<div class="menu-photo">
    <img class="person-photo" src="/assets/person.png" alt="">
</div>
<div class="menu-title">
    <a href="">
        <h1>{{ site.title }}</h1>
    </a>
</div>
<div class="menu-about">
    <p>Desenvolvedor web front-end, atualmente realizo meus trabalhos na
        <a href="http://focussp.com.br" target="_blank">Focus Desenvolvimento</a>, estudante de Análise e Desenvolvimento de Sistemas na
        <a href="http://www.fatectq.edu.br/" target="_blank">FatecTq</a> e apaixonado por desafios...
    </p>
</div>