<div class="menu-social">
    <!-- GOOGLE -->
    {% if site.google_username %}
    <a href="">
        <i class="fa fa-google-plus" aria-hidden="true"></i>
    </a>
    {% endif %}

    <!-- LINKEDIN -->
    {% if site.linkedin_username %}
    <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
    {% endif %}

    <!-- GITHUB -->
    {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    {% endif %}

    <!-- FACEBOOK -->
    {% if site.facebook_username %}
    <a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">
        <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    {% endif %}

    <br>
</div>